* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	/*heading fonts should be set manually*/
	color: #777777;
	content-type: border-box;
	line-height: 1.5;
}

/*will set the fonts for only the headings*/
h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: 900;
	font-size:24px;
}

/*form styling*/
h3 {
	font-weight: 500;
	font-family: 'Arial';
	margin: 0 0 5px 0;
}

body {
	background-image: url('../images/round.png');
	/*This is meant to set the background image for the page itself.*/
}

a {
	margin: 20px;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	color: #4aaaa5;
}

/*General use flex row*/
.row {
	display: flex;
	flex-direction: row;
}


/*header css goes here*/

.header {
	background-color: #fff;
	margin-bottom: 40px;
	border-bottom: 2px solid #cccccc;

	height: 75px;
}

.nav {
	position: relative;
	color: #999999;
}

/*kinda hacky, but I needed to do something so it would look right.*/
.name {
	/*positioning*/
	position: absolute;
	padding: 20px;
	left: 18%;

	/*looks*/
	height: 35px;
	background-color: #4aaaaf;
	color: #fff;
	text-align: center;
	
}

.navlist {
	position: absolute;
	right: 18%;
	top: 30px;
}


/*main content area goes here*/

/*setting the page size with margins*/
.container {
	margin: 0 auto;
	width: 960px;
	display: flex;
	/*This will center the page and set conent width to 960px as well as set bg col to white*/
}

/*Main class declarations*/

.main {
	flex: 2;
	margin: 20px;
	border: 2px solid #dddddd;
	padding: 40px 30px 40px 30px;
	background: #ffffff;
}

/*profile image on index*/
.profile {
	/*this should help wrap the text around properly*/
	height: 188px;
	width: 188px;
	float: left;
	margin: 0 15px 15px 0;
	/*add in clearfix?*/
}

/*Portfolio Stlyings below*/
.websites {
	position: relative;
	display: inline-block;
}

.port-banner {
    background: #4aaaa5;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 15px;
    padding: 15px 0 15px 0;
    width: 100%;
    font-family: 'Georgia';
}

/*Contact Page stylings below*/

.form-span {
	width: 100%;
	margin-bottom: 10px;
}

.message {
	height: 300px;
}



/*had to manually change some things in order to make it look right for submit*/
.submit {
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: 'Arial';
	font-weight: 500;
	padding: 10px 20px 10px 20px;
	margin: 0;
}

/*Adding hover styling*/
.submit:hover{
	color: black;
}

/*social content section*/

/*below are the stylings for social links -- override the a selector.*/

.social-content {
	margin: 20px;
	border: 2px solid #dddddd;
	padding: 40px 30px 40px 30px;
	display: flex;
	flex-direction: column;
	background: #ffffff;
	height: 150px;
}

.social *{
	height: 50px;
	display: flex;
	flex-direction: row;
}

.social-link {
	width: 50px;
	height: 50px;
}

.social-img {
	width: 50px;
	height: 50px;
}


/*footer css goes here*/

.footer {
	background-color: #666666;
	margin-top: 40px;
	border-top: 2px solid #cccccc;
}

.footer-txt {
	/*
	center and make this text rather small
	make color white as well
	*/
	font-weight: 350;
	color: #ffffff;
	text-align: center;
	padding: 20px;
	font-size: 10px;
}

