<!-- Add in the current burgers that we have from the db -->
<div class="col s6 not-devoured">

    <!-- for each burger passed to handlebars -->
    {{{#each not-devoured}}}
        <!-- add in the element with burger name  -->
        <!-- Button for adding a new burger -->
    {{{/each}}}
</div>

<!-- div for devoured burgers -->
<div class="col s6 devoured">
    <!-- Materialize has a collection with a header for us -->
    <ul class="collection with-header">
        <!-- Title -->
        <li class="collection-header">Devoured Burgers</li>
        <!-- Add in from the db -->
        {{{#each devoured}}}
            <li class="collection-item">{{burger_name}}</li>
        {{{/each}}}
    </ul>
</div>
